<!DOCTYPE html>
<html>
  <head>
    <title>TRLN Discovery Ingest: Status</title>
    <style type="text/css">
      table { border-collapse: collapse; }
      table, td, th { border: 1px solid grey; }
      th, td { padding: 2px 0.5em; }
      th { text-align: left; }
    </style>
  </head>
  <body>
    <h1>TRLN Discovery Ingest: Status</h1>
    <p>
      <%= link_to "Machine-readable (JSON) version", status_index_path %>
    </p>
    <h2>Ingests</h2>
    <p>
      Summaries of ingest records in the <%= link_to "TDI database", "/admin" %>.
    </p>
    <table class="ingests">
      <thead>
	<tr>
	  <th>Type</th>
	  <th>Total</th>
	  <th>Complete</th>
	  <th>Failed</th>
	  <th>Last Created (Records, Status)</th>
	</tr>
      </thead>
      <tbody>
	<% %i( all add_update delete ).each do |type| %>
	<% ingests = @status.data.ingests[type] %>
	<tr class="<%= type %>">
	  <td><%= type.to_s.camelize %></td>
	  <td><%= ingests.total %></td>
	  <td><%= ingests.completed %></td>
	  <td class="<%= ingests.failed == 0 ? 'success' : 'warning' %>">
	    <%= ingests.failed %>
	  </td>
	  <td>
	    <% if ingests.last %>
	    <%= ingests.last.created_at.localtime.to_s(:db) %>
	    (<%= ingests.last.records || "NULL" %>, <%= ingests.last.status_label %>)
	    <% else %>
	    N/A
	    <% end %>
	  </td>
	</tr>
	<% end %>
      </tbody>
    </table>

    <h2>Queue</h2>
    <p>
      FIXME
    </p>

    <h2>Meta</h2>
    <p>
      TDI application metadata.
    </p>
    <table class="meta">
      <thead>
	<tr>
	  <th>Component</th>
	  <th>Version</th>
	</tr>
      </thead>
      <tbody>
	<% %i( tdi marc_to_argot argot spofford_client ).each do |comp| %>
	<tr class="<%= comp %>">
	  <td><%= comp %></td>
	  <td><%= @status.meta[comp][:version] %></td>
	</tr>
	<% end %>
      <tbody>
    </table>
  </body>
</html>
